*{ /*Aqui eu configuro toda a pagina */
	margin:0;
	padding:0;
	background-color:black;
}

html,body{
	height:100%;
}

div.logo{
	position: relative;
	animation-duration: 2s;
	animation-delay: 2s;
}

.menu{
	width: 1200px;
	margin: 0 auto;
	margin-top: 50px;
	text-align: center;
}	

.menu a{
	color: white;
	font-size: 30px;
	margin: 0 40px;
	text-decoration: none;
}

body #div1{
	text-align: center
}

.id1 h1{
	color:white;
}

.id2 h3{
	color:yellow;
}

/* Quem somos */

.texto > p{
	width: 1280px;
	color: white;
	margin: 40px auto;
	text-align: left;
	font-family: Comic Sans;
	line-height: 30px;
	font-size: 20px;
}
