<!DOCTYPE html>
<meta charset="utf-8">
<meta name="description" content="Projeto 04">
<meta name="keywords" content="html,css,js">
<meta name="viewport" content="width=device-width-scale=1.0,maximun-scale=1.0">
<meta name="theme-color" content="#8257E5">
<meta name="author" content="Daniel"/>
<html>
<head>
	<title>Projeto 04</title>
	<link href="https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&amp;family=Poppins:wght@400;600&amp;display=swap" rel="stylesheet">
	<!--<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">-->  
	<link rel="shortcut icon" href="img/favicon.png" type="public/img/png">
	<link rel="stylesheet" href="style/css/style.css">
	<link rel="stylesheet" href="style/css/page-landing.css">
</head>

<body id="page-landing">
	<div id="container">
		<div class="logo-container">
			<img src="img/logo.svg" alt="Proff">
			<h2>Sua plataforma de estudos On-line</h2>
		</div>
		
		<img class="hero-image" src="img/landing.svg" alt="Plataforma de Estudos">
		
		<div class="buttons-container">
			<a class="study" href="study">
				<img src="img/icons/study.svg" alt="Estudar">Estudar
			</a>
			<a class="give-classes" href="give-classes">
				<img src="img/icons/give-classes.svg" alt="Aulas">Aulas
			</a>
		</div>

		<p class="total-connections">
			Total de 200 conexões realizadas
			<img src="img/icons/purple-heart.svg" alt="coração">
		</p>
	</div>
</body>

	
	<footer>
	
	</footer>	
</body> 
	<!--
	<script src="bootstrap/js/jquery.js"></script>
	<script src="bootstrap/js/bootstrap.bundle.min.js"></script>
	-->
</html>